body{
    background-color: rgb(28, 184, 111);
}
  .row {margin: 0 -5px;}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
.dropdown-item:hover{
    background-color: blueviolet;
    color: white;
}
  
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-fluid{
  width:  300px;
  height: 300px;
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  .img-fluid{
    width: 200px;
    height: 200px;
  }
  #images{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
}